MYOPERATOR_BASE_URL=https://publicapi.myoperator.co
MYOPERATOR_COMPANY_ID=your_company_id
MYOPERATOR_AUTH_TOKEN=your_myoperator_authentication_token
MYOPERATOR_AUTH_MODE=bearer
MYOPERATOR_PHONE_NUMBER_ID=your_whatsapp_phone_number_id
MYOPERATOR_TEMPLATE_NAME=otp_verify
MYOPERATOR_TEMPLATE_LANGUAGE=en
MYOPERATOR_TEMPLATE_OTP_VARIABLE=otp
MYOPERATOR_SEND_TEMPLATE_PATH=/chat/messages
